.header {
    &__1{
        background-color: #323232;
        padding: 10px 0;
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
    }
    .nav {
        &__flexbox{
            display: flex;
            justify-content: space-between;
            align-items:center;
        }

        &__list {
            display: flex;
            margin: 0;

        }

        &__item {
            padding: 0 15px;
            border-right: 1px solid #474747;
            list-style-type: none;

            a {
                text-decoration: none;
                font-size: 15px;
                font-weight: 300;
                color: #ffffff;
            }
        }
    }
    &__2{
        margin-top: 60px;
        background-color: #ffffff;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    &__img > img{
        margin-right: 44px;
        &:last-child{
            margin: 0;
        }
    }
}
.carousel{
    width: 600px;
    height: 300px;
}